{% extends 'projects.html' %}
{%load static%}
{%block content%}

 
<div class="cabecera">

            <div class="cabecera__bloque1"> <img src="{{post.imageURL}}" alt="" class="imagencontenido"></div>

            <div class="cabecera__bloque2">{{post.title}}</div>

        </div>
        <article class="articulo">
            <div class="articulo__entradilla">
                <p class="texto__cabecera">
                 {{post.subtitle}}<br>
                    <span class="texto__cabecera1"> 
                        Por: {{post.autor.first_name}} {{post.autor.last_name}}<br>
                        Fotos: {{post.fotografo}}<br>
                    </span>
                </p> 
                 

        
            </div>
            <div class="articulo__cuerpo">
                {{post.content|safe|linebreaks}}
            </div>

       </article>

      
            
{%endblock content%}