{% load static %}
<section class="section sec5" id="contact">
    <div class="contact-container">
        <div class="main-title">
            <h2>Contacto<span class="bg-text">Contáctanos</span></h2>
        </div>
        <div class="contact-content-con">
            <div class="left-contact">
                <h4>Queremos escucharte</h4>
                <p>
                    Tus necesidades, opiniones y perspectivas son importantes para nosotros. <br> Por ello ponemos a tu disposición las distintas plataformas donde puedes econtrarnos y un formulario de contacto para acercarte directamente a nosotros. 
                </p>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                            <span>Correo</span>
                        </div>
                        <p>
                            <span> canal6dejulio@gmail.com</span>
                        </p>
                    </div>
                    
                    
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        <a href="https://www.facebook.com/Canal6deJulioOficial/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/canal6dejulio" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.tiktok.com/@canal6dejulio" target="_blank">
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCMrCZkDk2QQLi1tOcIxrdoQ" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-contact">
                
                <form method="POST" action="" class="contact-form">
                    
                    {% csrf_token %}
                    
                    <div class="input-control i-c-2">
                        {{ form.nombre }}
                        {{ form.mail}}  
                    </div>
                    <div class="input-control">
                        {{ form.titulo }}                        
                    </div>
                    <div class="input-control">
                        {{ form.contenido }}
                    </div>
                    
                    <div class="submit-btn">
                        
                            <a href="#" class="main-btn">
                            <span class="btn-text"> <input type="submit" value="Enviar tu mensaje"/> </span>
                            <span class="btn-icon"><i class="fa-solid fa-envelope"></i></span>
                        </a>
                    </div>
                    
                </form>
                
            </div>

        </div>
    </div>

</section>