



{% load static %}

<header class="section sec1 header active" id="home"> 
    
    <div class="header-content">
        {%for header in estrenos%}
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="{{header.imageURL}}" alt="">
            </div>
        </div>
        <div class="right-header">
            
            <h1 class="name">
                <span class="canal">Canal 6 de Julio</span> presenta:
            </h1>
                
                <div class="resaltar-titulo">{{header.title}}</div>
                
            
            
            <p>
                {{header.description|safe}}
                
            </p>
            <br>
           
            <div class="btn-con">
                {%if estatus == 'renta'%}
                <a href="{{header.vimeo_link}}" target="_blank" class="main-btn">
                    <span class="btn-text bold">Mírala en Vimeo</span>
                    <span class="btn-icon bold"><i class="fa-brands fa-vimeo"></i></span>
                </a>
                 {% else %}

               <a href="{{header.renta_link}}" class="main-btn">
                    <span class="btn-text bold">Compra tus boletos</span>
                    <span class="btn-icon bold"><i class="fa-solid fa-ticket"></i></span>
                </a>
                {%endif%}
            </div>
            {%endfor%} 
            <div class="contact-home">
                <div class="contact-home-item">
                <div >
                    <a href="https://www.facebook.com/Canal6deJulioOficial/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/canal6dejulio" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.tiktok.com/@canal6dejulio" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCMrCZkDk2QQLi1tOcIxrdoQ" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
            </div>
            
        </div>
        
    </div>
    
    
    
</header>

