{% load static %}

<section class="section sec4" id="blogs">
    
    <div class="blogs-content">
        <div class="main-title">
            <h2> Noticias <span class="bg-text"> Novedades del canal</span>
            </h2>
        </div>
        <div class="blogs">
            {% for entrada in entradas %}
            <div class="blog">
                
                <img src="{{entrada.imageURL}}" alt="">
                <div class="blog-text">

                
                    <a href="{%url 'project' entrada.slug%}" class="tituloentrada">
                        {{entrada.title}}
                    </a>
                    <p>
                        {{entrada.content|striptags|truncatewords_html:"30"}}
                    </p>
                </div>    
            </div>
           
            {% endfor %}   
        </div>
    </div>
    
</section>