{% load static %}
<main>
        <section class="section sec2" id="about">
            <div class="main-title">
                <h2>¿Quienes somos? <span class="bg-text">Historia y trayectoria</span></h2>
            </div>
            <div class="about-container">
                <div class="left-about">
                    <h4>Nuestra historia</h4>
                    <p>
                        <span class="subtitulo">CANAL 6 DE JULIO ES UN MEDIO ALTERNATIVO DE COMUNICACIÓN EN MÉXICO QUE PRODUCE, EXHIBE Y DISTRIBUYE DOCUMENTALES EN VIDEO.</span>
                    
                    </p>
                    <p>
                        Su nombre alude a las elecciones presidenciales de 1988, pues para sus fundadores, esa fecha marcaba un antes y un después en la democracia mexicana.
                    </p>
                     <p>
                        Esta productora posee un extenso archivo fílmico que comprende muchas horas de imágenes y entrevistas relativas a movilizaciones sociales, luchas obreras, campañas políticas y grupos armados que desde hace tres décadas se han documentado.
                    </p>
                    <p>
                        En 1992 obtuvo un reconocimiento especial dentro del premio <span class="resaltar">Manuel Buendía a la Trayectoria Periodística</span>; en esa ocasión Carlos Monsiváis escribió a propósito del trabajo de este colectivo: 
                        
    <br>
    <br>
    <blockquote class="quote">
  
    Si su versión de los hechos es necesariamente controvertible, el material al que suelen acudir es irrefutable
    </blockquote>
                    </p>
                    <p>
                        En conmemoración de su vigésimo aniversario, Canal 6 de Julio publicó en 2008 su primer libro, que se titula <span class="resaltar">Canal 6 de Julio, la guerrilla fílmica.</span> Esta obra resume dos décadas de trabajo y describe la manera en que se ha desarrollado la labor de esta productora. Cuenta con las colaboraciones de Carlos Montemayor, José Reveles, Carlos Monsiváis, Miguel Ángel Granados Chapa, entre otros.
                    </p> 
                </div>
                    <div class="right-about">
                        <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">35</p>
                                <p class="small-text">Años de <br /> experiencia</p>
                                <br>
                                <img src="{% static 'logo.jpg'%}" alt="" class="imagencontenido">
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">+72</p>
                                <p class="small-text">Títulos <br /> Producidos</p>
                                <br>
                                <img src="{% static 'unam.png'%}" alt="" class="imagencontenido">
                            </div>
                        </div>
                        <div class="about-item">
                            <div class="abt-text">
                                <p class="large-text">+30</p>
                                <p class="small-text">Años de <br /> archivo fílmico</p>
                                <br>
                                <img src="{% static 'archivo.jpg'%}" alt="" class="imagencontenido">
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                

    </section>
